{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'home/css/style.css' %} " type="text/css">
    <title>リュウのポートフォリオ</title>
</head>

<body>
    <header>
        <h1 id="title">リュウのポートフォリオ</h1>
    </header>
    <div class="container">
        <div class="news">
            <p class="contentTitle">News</p>
            <div class="box">
                {% for item in newsdata %}
                  <div class="newsItem" style="border: 2px solid;margin: 5px 5px 5px 5px;border-radius: 10px;">
                    <h1 style="text-align: center;margin: 0;"> {{item.title}} </h1>
                    <p style="margin: 0;font-size:20px;"> {{item.contents}} </p>
                    <p style="margin: 0;text-align:end;"> {{item.date}} </p>
                  </div>
                {% endfor %}
            </div>
        </div>

        <div class="contents">
            <div class="aboutThisSite">
                <p class="contentTitle">このサイトについて</p>
                <p class="contentElement">このサイトは自分が作ったものを掲載していくためのサイトです。</p>
                <p class="contentElement">WEBサイトを運営するのは初めてですが、自分が作ったものを掲載するだけでなく、サイトを訪れてくださった方々に楽しんでいただけるサイトを目指します。</p>
                <div style="text-align:right;"><a class="aToAboutUs" href=" {% url 'aboutus' %} ">作者について</a></div>
            </div>

            <div class="appAndTwitter">
                <div class="app">
                    <p class="contentTitle">作品一覧</p>
                    {% for item in appdata %}
                      <div style="display: flex;padding-bottom: 10px;padding-left: 20px;">
                            {% if item.imagePath %}
                                <img src=" {{item.imagePath}} " style="width: 15%;height: 15%;">
                            {% else %}
                                <div style="width: 15%;height: 15%;text-align:center;font-weight: bold;background-color:gray;">No Image</div>
                            {% endif %}
                            <div>
                                <h1> {{item.appName}} </h1> 
                                <div style="display: flex;">
                                    {% if item.googlePath %}
                                        <a href=" {{item.googlePath}} "><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png?hl=ja" style="width:150px;height:60px;"></a>
                                    {% else %}
                                        <div style="width:150px;height:60px;"></div>
                                    {% endif %}
                                    
                                    {% if item.applePath %}
                                        <a href=" {{item.applePath}} "><img src="https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2014-07-31&kind=iossoftware&bubble=ios_apps" style="width:150px;height:50px;"></a>
                                    {% else %}
                                        <div style="width:150px;height:50px;"></div>
                                    {% endif %}

                                    {% if item.otherPath %}
                                        <a href=" {{item.otherPath}} ">サイトへ</a>
                                    {% endif %}
                                </div>
                            </div>
                      </div>
                    {% endfor %}
                </div>
                <div class="twitter">
                    <p class="contentTitle">Twitter</p>
                    <div class="box">
                        <a class="twitter-timeline" href="https://twitter.com/ryu_develop?ref_src=twsrc%5Etfw">Tweets by ryu_develop</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>