{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'home/css/style.css' %} " type="text/css">
    <title>リュウのポートフォリオ</title>
</head>

<body>
    <header>
        <h1 id="title">リュウのポートフォリオ</h1>
    </header>
    <div class="container">
        <div class="news">
            <p class="contentTitle">News</p>
            <div class="box">
            </div>
        </div>

        <div class="contents">
            <div class="aboutThisSite">
                <p class="contentTitle">このサイトについて</p>
                <p class="contentElement">このサイトは自分が作ったものを掲載していくためのサイトです。</p>
                <p class="contentElement">WEBサイトを運営するのは初めてですが、自分が作ったものを掲載するだけでなく、サイトを訪れてくださった方々に楽しんでいただけるサイトを目指します。</p>
                <div style="text-align:right;"><a class="aToAboutUs" href=" {% url 'aboutus' %} ">作者について</a></div>
            </div>

            <div class="appAndTwitter">
                <div class="app">
                    <p class="contentTitle">作品一覧</p>

                </div>
                <div class="twitter">
                    <p class="contentTitle">Twitter</p>
                    <div class="box">
                        <a class="twitter-timeline" href="https://twitter.com/ryu_develop?ref_src=twsrc%5Etfw">Tweets by ryu_develop</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>